* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  margin-top: 22px;
  font-family: sans-serif;
}

.heading {
  font-size: 36px;
  color: rgb(99, 108, 104);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.pass-boxes {
  display: grid;
  row-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.pass-box {
  padding: 14px 24px;
  margin: 0px 20px;
  background-color: rgb(27, 27, 27);
  border-radius: 10px;
  border: 0.5px dashed rgba(110, 110, 110, 0.583);
  &.teacher {
    background-color: rgb(30, 38, 36);
  }
}

.user-name {
  font-size: 18px;
  display: flex;
  gap: 25px;
  margin-bottom: 10px;
  color: white;
}

.passwords {
}

.password {
  color: white;
  display: flex;
  gap: 25px;
}

.user-text,
.pass-text {
  color: rgb(197, 197, 197);
}

.user,
.pass {
  background-color: rgb(44, 50, 57);
  /* background-color: black; */
  padding: 4px 12px;
  border-radius: 4px;
}

.teacher .user,
.teacher .pass {
  background-color: rgb(60, 76, 72);
}
